@model Bulka.Models.Player.PlayerProfileViewModel

@{
    ViewBag.Title = "Информация профиля";
    ViewBag.PageTitle = Model.Name;
    ViewBag.PanelTitle = "Просмотр";
}

<div class="x_content">
    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
        <div class="profile_img">
            <div id="crop-avatar">
                <!-- Current avatar -->
                <img class="img-responsive avatar-view" src="@Model.ImageUrl" alt="Avatar" title="Change the avatar">
            </div>
        </div>
        <h3>@Model.Name</h3>

        <ul class="list-unstyled user_data">
            <li>
                <i class="fa fa-map-marker user-profile-icon"></i> @Model.Address
            </li>

            <li>
                <i class="fa fa-briefcase user-profile-icon"></i> @Model.Phone
            </li>

            <li class="m-top-xs">
                <i class="fa fa-external-link user-profile-icon"></i>
                <a href="@Model.Vk" target="_blank">@Model.Vk</a>
            </li>

            <li>
                <i class="fa fa-briefcase user-profile-icon"></i> @Model.AdditionInfo
            </li>
        </ul>

        <a href="@Url.Action("Edit", "Player", new {id = @Model.Id})" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Редактировать</a>
        <a href="@Url.Action("All", "Player", new {id = @Model.Id})" class="btn btn-default"><i class="fa fa-edit m-right-xs"></i>Назад к списку</a>
        <br/>

        <h4>Посещение</h4>
        <ul class="list-unstyled user_data">
            @foreach (var tab in Model.Visitation.VisitationItems)
            {
                <li>
                    <p>@tab.ClubName</p>
                    <div class="progress progress_sm">
                        <div class='progress-bar bg-green' role='progressbar' data-transitiongoal='@tab.Persent' @*style='width: @tab.Persent%;' aria-valuenow='(@tab.Persent-1)'*@></div>
                    </div>
                </li>
            }
        </ul>

    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">

        <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                @foreach (var tab in Model.Sessions)
                {
                    <li role="presentation">
                        <a href="#@Model.Sessions.IndexOf(tab)" id="home-@Model.Sessions.IndexOf(tab)" role="tab" data-toggle="tab" aria-expanded="true">@tab.Title</a>
                    </li>
                }
            </ul>
            <div id="myTabContent" class="tab-content">
                @foreach (var tab in Model.Sessions)
                {
                    <div role="tabpanel" class="tab-pane fade" id="@Model.Sessions.IndexOf(tab)" aria-labelledby="home-@Model.Sessions.IndexOf(tab)">
                        <div class="row tile_count">
                            @*<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                            <span class="count_top"><i class="fa fa-user"></i> Кол-во дней</span>
                            <div class="count">@tab.DayCount</div>
                            <span class="count_bottom"><i class="green">4% </i> Последняя неделя</span>
                        </div>*@
                            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-clock-o"></i> Среднee время</span>
                                <div class="count">@tab.AvgDuration</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> Последняя неделя</span>*@
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Средний вход </span>
                                <div class="count">@tab.AvgInput</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> Последняя неделя</span>*@
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Средний выход</span>
                                <div class="count">@tab.AvgOutput</div>
                                @*<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> Последняя неделя</span>*@
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i> Результат</span>
                                @{
                                    var color = tab.Profit.Contains('-') ? "red" : "green";
                                    @Html.Raw("<div class='count " + color + "'>" + tab.Profit + "</div>");
                                }
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> Последняя неделя</span>*@
                            </div>
                        </div>
                        <table id="club_@Model.Sessions.IndexOf(tab)" class="table table-striped no-margin">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Клуб</th>
                                    <th>Время</th>
                                    <th>Вход</th>
                                    <th>Выход</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in tab.Items)
                                {
                                    <tr>
                                        <td>@item.DateTime</td>
                                        <td>@item.ClubName</td>
                                        <td>@item.Duration</td>
                                        <td>@item.Input</td>
                                        <td>@item.Output</td>
                                        @*<th width="10%"> <a href="@Url.Action("Details","GameProcess", new {id = @item.Id})">Показать</a></th>*@
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                }
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('#home-0').click();
            $('.progress-bar').progressbar();
            @foreach (var tab in Model.Sessions)
            {
                @Html.Raw("$('#club_" + Model.Sessions.IndexOf(tab) + "').DataTable(); ");
            }
        });
    </script>
}