@model BulkaBussinessLogic.Model.Club.ClubList

@{
    ViewBag.Title = "Клубы";
    ViewBag.PageTitle = "Клубы";
    ViewBag.PanelTitle = "";
}

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Список клубов <small></small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Clubs)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a href="@Url.Action("Edit", "Club", new {id = item.Id})" class="btn btn-default">
                                    Редактировать
                                </a>
                                <a href="@Url.Action("Delete","Club", new {id = item.Id})" class="btn btn-default">
                                    Удалить
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="ln_solid"></div>
            <a href="@Url.Action("Edit","Club")" class="btn btn-success">
                Создать
            </a>
        </div>
    </div>
</div>